# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

config.hjson
config.backup.hjson
payout_wallet_private.key
remote-signer.hjson
reports/*
archive/*
bin/*
!bin/.gitkeep