name: test & build docs 

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.22.0'
          
      - name: Test
        run: go test -v ./...

      - name: Build generated docs
        run: go run ./docs/build/

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated Docs Generation

      - name: report docs updated
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.DOCS_BUILDER_ACCESS_TOKEN }}
          repository: tez-capital/docs.tez.capital_builder
          event-type: subproject-updated
          client-payload: '{ "id": "${{ steps.repository_info.outputs.ID }}", "repository": "${{github.repository}}", "version": "${{github.ref_name}}"}'
